# Deep Learning
torch==1.12.1
torchvision==0.13.1
torchaudio==0.12.1

# Machine Learning & Data Science
numpy==1.21.0
pandas==1.4.3
scikit-learn==1.1.2
scipy==1.9.1

# Signal Processing
wfdb==4.0.0
py-ecg-detectors==0.9.6
neurokit2==0.2.7
librosa==0.10.2

# Visualization
matplotlib==3.9.2
seaborn==0.12.1

# Utils
tqdm==4.64.0